<h2 mat-dialog-title>Add New Habit</h2>
<mat-dialog-content>
  <form [formGroup]="habitForm">
    <mat-form-field appearance="outline">
      <mat-label>Habit Name</mat-label>
      <input matInput formControlName="habit" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>What You Want to Achieve</mat-label>
      <input matInput formControlName="description" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>End Date (Optional)</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="end" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker2" formControlName="date" />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Time</mat-label>
      <input matInput type="time" formControlName="time" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Frequency</mat-label>
      <mat-select formControlName="frequency">
        <mat-option value="Daily">Daily</mat-option>
        <mat-option value="Weekly">Weekly</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Duration (minutes)</mat-label>
      <input matInput type="number" formControlName="duration" min="1" />
    </mat-form-field>
    
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
</mat-dialog-actions>
